# KNN in Python using SciKit Learn

In [60]:
# load libaries
from sklearn.neighbors import KNeighborsClassifier
import numpy as np
#from sklearn.linear_model import LogisticRegression
import pandas as pd

In [61]:
dataset = pd.read_csv(r'H:\Python\NIAIS Lecture Data\weight-height.csv', delimiter=',')

In [62]:
# height in Inches and weight in pounds
dataset.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [63]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
Gender    10000 non-null object
Height    10000 non-null float64
Weight    10000 non-null float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [64]:
dataset.describe()

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [65]:
dataset.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [66]:
features = dataset.iloc[:,1:3]

In [67]:
print(features)

         Height      Weight
0     73.847017  241.893563
1     68.781904  162.310473
2     74.110105  212.740856
3     71.730978  220.042470
4     69.881796  206.349801
...         ...         ...
9995  66.172652  136.777454
9996  67.067155  170.867906
9997  63.867992  128.475319
9998  69.034243  163.852461
9999  61.944246  113.649103

[10000 rows x 2 columns]

In [68]:
target = dataset.iloc[:,0]

In [69]:
print(target)

0         Male
1         Male
2         Male
3         Male
4         Male
         ...
9995    Female
9996    Female
9997    Female
9998    Female
9999    Female
Name: Gender, Length: 10000, dtype: object

In [70]:
#LR = LogisticRegression(solver='lbfgs')
KNN = KNeighborsClassifier()

In [71]:
training_model = KNN.fit(features,target)

In [72]:
guess = [[67,200]]

In [73]:
prediction = training_model.predict(guess)

In [75]:
print('gender is {}'.format(prediction))

gender is ['Male']